.container {
    padding: 2em 1;
    margin-top: 4em;
    width: 250px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capa {
    width: 99.9%;
}

.container h2, .favoritar {
    padding: o 2em;
}

.favoritar {
    width: 35px;
} 

.link {
    text-decoration: none;
    color: var(--preto);
    text-align: center;

}