.container {
    padding: 0 0 1em 0;
    margin-top: 5em;
    width: 250px;
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capa {
    width: 100%;
}

.container h2, .favoritar {
    padding: o 2em;
}

.favoritar {
    width: 30px;
} 

.link {
    text-decoration: none;
    color: var(--preto);
    text-align: left;

}